/* header.css */

/* Common styles for all screen sizes */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

h1 {
  margin-left: 180px;
  font-size: 40px;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  -webkit-background-clip: text; /* Apply background-clip to text */
  background-clip: text; /* Apply background-clip to text */
  color: transparent; 
}

/* Media query for screens with a width of 768px or less */
@media (max-width: 768px) {
  .logo-img {
    width: 90px;
    height: 90px;
  }

  h1 {
    margin-left: 50px;
    font-size: 30px;
  }
}

/* Media query for screens with a width of 480px or less */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  h1 {
    margin-left: 0;
    font-size: 25px;
  }
}
