/* header.css */

.header {
  height: 80px;
  text-align: center;
  background: linear-gradient(to top, #b9a1f1, #301ef2); /* Apply gradient to background */
  -webkit-background-clip: text; /* Apply background-clip to text */
  background-clip: text; /* Apply background-clip to text */
  color: transparent; 
}

@media screen and (max-width: 320px) {
  .header h1 {
      font-size: 30px;
      color: rgb(36, 63, 235); /* Set fallback text color */
  }
}

@media only screen and (min-width: 760px) {
  .header h1 {
      margin-top: 30px;
      font-size: 50px;
  }
}
